{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ albumMeta['album'] }}{% endblock %}</h1>
{% endblock %}

{% block headerDetails %}
<p>Artist: {{ albumMeta['artist'] }}</p>
<p>Album Artist: {{ albumMeta['album_artist'] }}</p>
{% endblock %}

{% block content %}
<p class="header"><h4><b>Files</b></h4></p>

  {% for fl in files %}
    <div class="post">
      {{ fl['name'] }}
    </div>
{#    {% if not loop.last %}
      <hr> 
    {% endif %} #}
  {% endfor %}
  <div class="footer">
    <p class="body">Hello</p>
</div>

{% endblock %}