<!doctype html>
<title>Philetag {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Phile Tag</h1>
  <div>
    <a href="/">Home</a>
</div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block headerDetails %}{% endblock %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block app_content %}{% endblock %}
</section>