{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<style>
  .table.table-borderless tr td, .table.no-border tr th {
    border-width: 0;
    padding: 2px;
  }
  .link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}
  </style>
  {% endblock %}

{% block title %}
    {% if title %}{{ title }} - Philetag{% else %}Philetag{% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Philetag</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <form action="{{ url_for('main.files') }}" method="POST" class="navbar-form navbar-left" novalidate>
          {{ nav_form.hidden_tag() }}
          <div class="form-group">
            {{ nav_form.dir_path(size=30, class='form-control', placeholder=nav_form.dir_path.label.text) }}
          </div>
          {{ nav_form.go }}
        </form>
        <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
          <div class="form-group">
            {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}