{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Album Information</h1>
  <h5>{{ dir_path }}</h5>
  <p class="control-label"><strong>{{ num_songs }} Songs, Total time: {{ album_length }}</strong></p>
  <form action="{{ url_for('main.album_info') }}" method="post" novalidate
            onSubmit="return confirm('Apply changes to all songs in folder?');">
    {{ form.hidden_tag() }}
    <div class="table-responsive">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <div class="form-group  required">
              <td>
                <label class="control-label  col-lg-2" for="album_name">{{ form.album_name.label }}</label>
              </td>
              <td class="col-lg-auto" width="">
                <input class="form-control" id="album_name" name="album_name" required type="text" value="{{ form.album_name.data }}">            
              </td>
            </div>
          </tr>
          <tr>
            <div class="form-group  required">
              <td>
                <label class="control-label  col-lg-2" for="album_artist">{{ form.album_artist.label }}</label>
              </td>
              <td class="col-lg-auto">
                <input class="form-control" id="album_artist" name="album_artist" required type="text" value="{{ form.album_artist.data }}">            
              </td>
            </div>
          </tr>
          <tr>
            <td>
              {{ form.submit() }}
            </td>
            <td>
              {{ form.normalize_file_names }} 
              <label class="control-label  col-lg-2" for="normalize_file_names">{{ form.normalize_file_names.label }}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
<br /><br />


<p class="header"><h4><b>Audio Files</b></h4></p>
  <a href="togglearrows" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill={{ screensettings['arrowcolor'] }} class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
  </a>
  <a href="togglearrows" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill={{ screensettings['arrowcolor'] }} class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
    </svg>
  </a>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <th scope="col"><a href="{{ url_for('main.sort',sorton='track',currentsortdir=screensettings['sortdir']['track']) }}">Track</a></th>
    <th scope="col"><a href="{{ url_for('main.sort',sorton='title',currentsortdir=screensettings['sortdir']['title']) }}">Title</a></th>
    <th scope="col"><a href="{{ url_for('main.sort',sorton='artist',currentsortdir=screensettings['sortdir']['artist']) }}">Artist</a></th>
    <th scope="col"><a href="{{ url_for('main.sort',sorton='file',currentsortdir=screensettings['sortdir']['file']) }}">File Name</a></th>
    <th scope="col"><a href="{{ url_for('main.sort',sorton='size',currentsortdir=screensettings['sortdir']['size']) }}">Size</a></th>
  </thead>
  <tbody>
    {% for fl in meta_list %}
      <tr>
        {% if 'detail_form' in fl %}
          <td colspan="2">
            {% if 'different' in fl %}
              <a href="{{ url_for('main.files') }}"><p class="text-primary">{{ fl['title'] }} (Click to Collapse)</p></a>
            {% else %}
              <a href="{{ url_for('main.files') }}"><p class="text-success">{{ fl['title'] }} (Click to Collapse)</p></a>
            {% endif %}
            {{ wtf.quick_form(fl['detail_form'],action="/songupdate", form_type="horizontal", id=fl['filenum']) }}
          </td>
        {% else %}
          {% if 'different' in fl %}
            <td class="text-primary">
              {% if screensettings['showarrows'] %}
                <a href="track/up/{{ fl['filenum'] }}" class="text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                  </svg>
                </a>
                <a href="track/down/{{ fl['filenum'] }}" class="text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                  </svg>
                </a>
              {% endif %}
              {{ fl['tracknumber'] }}
            </td>
            <td><a href="{{ url_for('main.song_info', filenum=fl['filenum']) }}"><p class="text-primary">{{ fl['title'] }}</p></a></td>
            <td><p class="text-primary">{{ fl['artist'] }}</p></td>
            <td><p class="text-primary">{{ fl['name'] }}</p></td>
            <td><p class="text-primary">{{ fl['byteStr'] }}</p></td>
          {% else %}
            <td class="text-success">
              {% if screensettings['showarrows'] %}
                <a href="track/up/{{ fl['filenum'] }}" class="text-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                  </svg>
                </a>
                <a href="track/down/{{ fl['filenum'] }}" class="text-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                  </svg>
                </a>
              {% endif %}
              {{ fl['tracknumber'] }}
            </td>
            <td><a href="{{ url_for('main.song_info', filenum=fl['filenum']) }}"><p class="text-success">{{ fl['title'] }}</p></a></td>
            <td><p class="text-success">{{ fl['artist'] }}</p></td>
            <td><p class="text-success">{{ fl['name'] }}</p></td>
            <td><p class="text-success">{{ fl['byteStr'] }}</p></td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<a href="{{ url_for('main.duplicates') }}"><p color="black">Search mixes for duplicates.</p></a><br />

<p class="header"><h4><b>Other Files and Directories</b></h4></p>
{% for basedir in basedirs %}
<div class="text-danger">
  <a href="{{ url_for('main.change_dir', filenum=basedir['id']) }}" class="text-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#377ba8" class="bi bi-folder" viewBox="0 0 16 16">
      <path d="M.54 3.87L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
    </svg>
  <a href="{{ url_for('main.change_dir', filenum=basedir['id']) }}">{{ basedir['dir'] }}</a>
</div>
{% endfor %}

<a href="{{ url_for('main.change_dir', filenum='up') }}" class="text-danger">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#377ba8" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
  </svg>
</a><br />
<a href="{{ url_for('main.change_dir', filenum='back') }}" class="text-danger">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#377ba8" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
</a><br />
<a href="{{ url_for('main.change_dir', filenum='next') }}" class="text-danger">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#377ba8" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
  </svg>
</a>
{% for f in subdirs %}
<div class="text-danger">
  <a href="{{ url_for('main.change_dir', filenum=f['filenum']) }}" class="text-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#377ba8" class="bi bi-folder" viewBox="0 0 16 16">
      <path d="M.54 3.87L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
    </svg>
  <a href="{{ url_for('main.change_dir', filenum=f['filenum']) }}">{{ f['name'] }}</a>
</div>
{% endfor %}
{% for f in other_files %}
<div class="text-secondary">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-file-earmark" viewBox="0 0 16 16">
    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
  </svg>
  {{ f['name'] }}
</div>
{% endfor %}

{% endblock %}