{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table class="table">
  <tr>
      <td>
          <h1>Album Information</h1>
          <p>
            {{ wtf.quick_form(form,action="albuminfo") }}
          </p>
      </td>
  </tr>
</table>

<p class="header"><h4><b>Audio Files</b></h4></p>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <th scope="col">Track</th>
    <th scope="col">Title</th>
    <th scope="col">File Name</th>
  </thead>
  <tbody>
    {% for fl in meta_list %}
      <tr>
        {% if 'detail_form' in fl %}
          <td colspan="2">
            {% if 'different' in fl %}
              <a href="{{ url_for('main.files') }}"><p class="text-primary">{{ fl['title'] }} (Click to Collapse)</p></a>
            {% else %}
              <a href="{{ url_for('main.files') }}"><p class="text-success">{{ fl['title'] }} (Click to Collapse)</p></a>
            {% endif %}
            {{ wtf.quick_form(fl['detail_form'],action="/songupdate", form_type="horizontal", id=fl['filenum']) }}
          </td>
        {% else %}
          {% if 'different' in fl %}
            <td><p class="text-primary">{{ fl['tracknumber'] }}</p></td>
            <td><a href="{{ url_for('main.song_info', filenum=fl['filenum']) }}"><p class="text-primary">{{ fl['title'] }}</p></a></td>
            <td><p class="text-primary">{{ fl['name'] }}</p></td>
          {% else %}
            <td><p class="text-success">{{ fl['tracknumber'] }}</p></td>
            <td><a href="{{ url_for('main.song_info', filenum=fl['filenum']) }}"><p class="text-success">{{ fl['title'] }}</p></a></td>
            <td><p class="text-success">{{ fl['name'] }}</p></td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<p class="header"><h4><b>Other Files and Directories</b></h4></p>
{% for f in subdirs %}
<div class="text-danger">
  {{ f['name'] }}
</div>
{% endfor %}
{% for f in other_files %}
<div class="text-secondary">
  {{ f['name'] }}
</div>
{% endfor %}

{% endblock %}