{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table class="table">
  <tr>
      <td>
          <h1>Album Information</h1>
          <p>
            {{ wtf.quick_form(form,action="albuminfo") }}
          </p>
      </td>
  </tr>
</table>


<p class="header"><h4><b>Audio Files</b></h4></p>
  {% for fl in meta_list %}
    <div class="post">
      {{ fl['name'] }}
    </div>
{#    {% if not loop.last %}
      <hr> 
    {% endif %} #}
  {% endfor %}

  <p class="header"><h4><b>Other Files</b></h4></p>
  {% for other in other_files %}
    <div class="post">
      {{ other['name'] }}
    </div>
  {% endfor %}
  <div class="footer">
    <p class="body">Hello</p>
</div>

{% endblock %}